<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <section id="chat-area">
        <div id="response-area">
            <p id="bot-response"></p>
        </div>
        <div id="input-area">
            <div>
                <form id="chat-input" action="/chat" method="post">
                    <textarea name="input" id="message-input" cols="30" rows="10"></textarea>
                    <input type="submit" value=">">
                </form>
            </div>
        </div>
    </section>
    <script src="/js/main.js" defer></script>
</body>
</html>